#signup {

  .required {
    color: #ed1c24;
    &:after {
      content: "*";
    }
  }

  .help-with {

    label {

      span {
        display: block;
        width: 100%;
        border: 1px solid #e1e1e1;
        background: #fafafa;
        height: 2.4375rem;
        line-height: 2.4375rem;
        text-align: center;
      }

      input {
        display: none;

        &[type="radio"]:checked + span {
          color: #1c2ae5;
          border-color: #1c2ae5;
        }
      }
    }
  }

  input, select {
    border-color: #e1e1e1;
    background: #fafafa;
    box-shadow: 0 0 0 transparent;
  }

  .button {
    border-color: #e1e1e1;
    background: #fafafa;
    color: #000;

    &.active {
      color: #1c2ae5;
      border-color: #1c2ae5;
      background-color: #fff;
    }
  }

  .button.signup {
    border-color: #1c2ae5;
    background: #1c2ae5;
    color: #fff;
  }

  .description {
    display: none;

    &.diagnosis {
      display: inline-block;
    }
  }
}